:root{
    --name-font-size: 1.6em;
    /* the css rules that design the cards */
    --card-border: 1px solid white;
    --card-border-left: 20px solid rgb(135, 206, 235);
    --card-box-shadow: 1px 3px 3px rgba(117, 8, 45, 0.356);
    --card-font-size: 32px;
    --header-bg-color: rgb(151, 121, 121);
    --main-content-bg-color: bisque;
    --sidebar-bg-color: rgb(144, 166, 175);
    --annouce_trend-bg-color: yellowgreen;
    --btn-bg-color: rgb(103, 170, 161);
    --btn-hv-bg-color: rgb(146, 89, 4);
    --icon-dog-fill: rgb(135, 206, 235);
    --icon-fill: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
.header{
    background-color: var(--header-bg-color);
    grid-column: 2/4;
} 
.sidebar{
    grid-row: 1/4;
    background-color: var(--sidebar-bg-color);
}
.main-contents{
    display: flex;
    background-color: var(--main-content-bg-color);
    padding: 1rem;
}
.container div{
    padding: 0.5rem;
}
.cards{
    margin-top: 26px;
    display: grid;
    grid-template-columns: 3fr 3fr ;
    gap: 16px;
}
.card{
    border: var(--card-border);
    border-radius: 12px;
    border-left: var(--card-border-left);
    box-shadow: var(--card-box-shadow);
    font-size: var(--card-font-size);
}
.announce, .trend{
    background-color: var(--annouce_trend-bg-color);
    border: 1px solid white;
    border-radius: 12px;
    width: 250px;
    height: 300px;
    font-size: 1.2em;
}

.announce{
    margin-bottom: 91px;
}

.search-input{
    border: none;
    outline: none;
    height: 40px;
    width: 980px;
    border: 1p solid grey;
    border-radius: 17px;
    background-color: rgb(184, 147, 147);
}

.search{
    display: flex;
    gap: 8px;
}


.flex{
    display: flex;
    justify-content: space-between;
}

.second-hero{
    display: flex;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--btn-bg-color);
    color: bisque;
    border-radius: 89px;
    padding: 13px 39px;
    font-size: 1.6em;
    font-weight: bold;
}
.btn:hover{
    background-color: var(--header-bg-color);
    color: rgb(135, 206, 235);
}
.fourth{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-search{
    width: 50px;
    height: 28px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(6, 69, 94);
}

.icon{
    width: 25px;
    height: 19px;
    fill: var(--icon-fill);
}

.icon-dog{
    fill: var(--icon-dog-fill);
    height: 42px;
    width: 70px;
}
.third{
    display: flex;
}
.second{
    display: flex;
    gap: 30px;
}
.icon-bell{
    height: 24px;
    width: 29px;
}
.second-list{
    margin-top: 47px;
}
.nav{
    padding: 20px;
}
ul{
    list-style-type: none;
}
.dashboard{
    width: 65px;
    height: 46px;
    fill: var(--icon-fill);
}
.dash{
    display: flex;
}
.dash p{
    font-size: 34px;
    align-self: center;
    font-weight: bold;
}

.item{
    font-size: 29px;
    color: white;
}
.list-card{
    display: flex;
    flex-direction: column;
}
.cards{
    flex-grow: 1;
}
.h2{
    margin-bottom: -23px;
    font-size: 32px;
}
.ann{
    margin-bottom: 8px;
    font-size: 32px;
}
.icon-favorite, .icon-views{
    height: 32px;
    width: 32px;
}

.icons{
    display: flex;
    gap: 22px;
    justify-content: flex-end;
}

.card{
    display: flex;
    flex-direction: column;
}
.card p{
    flex-grow: 1;
}
.name{
    font-size: var(--name-font-size);
}
hr{
    border: 1px solid black;
    margin: 32px;
}
h6{
    margin-bottom: 8px;
}
.trend{
    display: flex;
    flex-direction: column;
}
.icon-doggy{
    width: 52px;
    height: 33px;
    fill: var(--icon-dog-fill)
}
.trendy{
    display: flex;
}

.para{
    font-weight: bold;
}

.card, .announce, .trend{
    background-color: rgb(255, 254, 254);
}